In [17]:
'''1. Write a Python function to accept a string value from the user and display the
count of each character in that string. Sample input: Enter a string value:
assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1'''

'1. Write a Python function to accept a string value from the user and display the\ncount of each character in that string. Sample input: Enter a string value:\nassembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1'

In [24]:
def character_count = input("enter a string"):

SyntaxError: invalid syntax (<ipython-input-24-0f2860039bd7>, line 1)

In [22]:
'''2. Write a Python function to find the maximum of three numbers Sample input:
34,12,7 Sample output: 34'''

'2. Write a Python function to find the maximum of three numbers Sample input:\n34,12,7 Sample output: 34'

In [53]:
def max(a,b,c):
  if(a>b):
    print(a)
  elif(b>c):
    print(b)
  else:
    print(c)

In [54]:
max(2,3,4)

4

In [55]:
'''3.Write a Python function called exponent(base,exp) that returns an integer
value of base raises to the power of exp. Sample input: Enter the base: 2
Enter the exponent: 3 Sample output: 8'''

'3.Write a Python function called exponent(base,exp) that returns an integer\nvalue of base raises to the power of exp. Sample input: Enter the base: 2\nEnter the exponent: 3 Sample output: 8'

In [87]:
def bas_exp(base,expo):
 return base**expo
 base=int(input("enter the base:"))
 expo=int(input("enter the exponent:"))
 print(bas_exp(base,expo))

In [88]:
bas_exp(3,3)

27

In [90]:
'''8. Write a Python program using for loop that will iterate from 1 to 15. For each
iteration, check if the current number is odd or even, and display the message
to the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-
even …. 15-odd'''

'8. Write a Python program using for loop that will iterate from 1 to 15. For each\niteration, check if the current number is odd or even, and display the message\nto the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-\neven …. 15-odd'

In [92]:
for i in range(1,16):
  if i%2==0:
    print(f"{i} - even")
  else:
    print(f"{i} - odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

In [93]:
'''5. Write a Python program which iterates from 1 to 10. For multiples of 2, print
“Fizz” instead of the number and for the multiples of 5, print “Buzz”. For
numbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input:
numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9
FizzBuzz'''

'5. Write a Python program which iterates from 1 to 10. For multiples of 2, print\n“Fizz” instead of the number and for the multiples of 5, print “Buzz”. For\nnumbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input:\nnumbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9\nFizzBuzz'

In [94]:
for i in range(1, 11):
  if i % 2 == 0 and i % 5 == 0:
    print("FizzBuzz")
  elif i % 2 == 0:
    print("Fizz")
  elif i % 5 == 0:
    print("Buzz")
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [96]:
'''4. Write a Python function that takes a positive integer and returns the sum of
the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.'''

'4. Write a Python function that takes a positive integer and returns the sum of\nthe cube of all the positive integers smaller than the specified number.\nSample input: 4 Sample output: 36.'

In [100]:
def sum_cube(n):
  sum=0
  for i in range(1,n):
    sum +=i**3
    return sum

In [101]:
sum_cube(3)

1

In [103]:
'''7. Write a Python function to find the sum of squares of the numbers in a list.
Sample input: 2,1,3,1 Sample output: 15'''

'7. Write a Python function to find the sum of squares of the numbers in a list.\nSample input: 2,1,3,1 Sample output: 15'

In [105]:
def squa_sum(numbers):
  sum = 0
  for num in numbers:
    sum += num * num
  return sum

numbers = [2, 1, 3, 1]
print(squa_sum(numbers))

15